
.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media only screen and (min-width: 576px) {
    .my-form-label {
        text-align: end;
        padding-top: 1vh;
    }
}