.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media only screen and (min-width: 576px) {
    .my-form-label {
        text-align: end;
        padding-top: 1vh;
    }
}

.on-top {
    position: absolute;
}

.on-top img {
    width: 50%;
    height: 50%;
}

.min-w {
    min-width: 320px;
}

.max-w {
    min-width: 105px;
}

.logo {
    width: 30px;
    margin-left: 10px;
}

.crafting .cr-row img {
    width: 6vw;
    padding: 0;
    min-width: 96px;
    float: none;
}

.result img {
    width: 6vw;
    min-width: 128px;
}
.cr-row {
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .arrow {
        padding-top: 4vh;
        padding-bottom: 3vh;
        transform: rotateZ(90deg);
    }
}